# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
# This seems to be importend for the editor in RStudio. If not you can not send
# a selection to the console!
* text eol=lf
